body {
  text-align: center;
  background-color: #f2f2f2;
  line-height: 3;
}

div {
  margin-top: 15px;
}

li {
  display: inline;
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margine-left: 25px;
  background-color: white;
}